{% extends 'layouts.html' %}
{% block content %}
{% load static %}


{% comment %} News section {% endcomment %}
<div class="row">
    <div class="col-md-8 mt-5">
        <h1><a href="">Sunrise View on the Mount Everst</a></h1>
        <img src="{% static 'image/a.jpg' %}" class="img-fluid" alt="">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat rerum saepe earum adipisci nulla? Eius aut, nostrum ut, asperiores enim sapiente quaerat necessitatibus quia repudiandae dolore rerum dignissimos totam dolorum!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nulla laborum aliquid doloribus ad quod vel, sit odit saepe tenetur quos dolor vitae sequi odio impedit dicta? Doloribus maiores, molestias saepe aperiam quae nemo autem quasi laborum quidem sequi. Commodi corporis recusandae culpa facilis rem cumque blanditiis dolorum, voluptates dolorem ex quod incidunt asperiores illo labore, unde ratione libero delectus quibusdam! Tenetur neque ex similique, qui quasi perspiciatis molestiae numquam consectetur animi! Aliquid exercitationem voluptatem, est nostrum, sequi, praesentium alias quos mollitia obcaecati sed incidunt itaque repudiandae? Debitis culpa illum dignissimos nemo. Dolorem id enim sit iure accusantium quod praesentium?
        </p>
    </div>
    <div class="col-md-4 mt-5">
        <h1>Related news</h1>
        <ul>
            <li><a href="">this is first post</a></li>
            <li><a href="">this is second post</a></li>
        </ul>
    </div>
</div>

{% comment %} end News section{% endcomment %}






{% endblock %}

